<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IUserStorageService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:56663/UserStorageService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUserStorageService"
                contract="UserStorageServ.IUserStorageService" name="BasicHttpBinding_IUserStorageService" />
        </client>
    </system.serviceModel>
</configuration>