<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="RegisterServices" type="ConfigurationLayer.CustomTags.ServiceConfig.RegisterServicesConfigSection, ConfigurationLayer"/>
    <section name="RegisterFiles" type="ConfigurationLayer.CustomTags.FileConfig.RegisterFileConfigSection, ConfigurationLayer"/>
    <section name="RegisterAddresses" type="ConfigurationLayer.CustomTags.AddressConfig.RegisterAddressConfigSection, ConfigurationLayer" allowLocation="true" allowDefinition="Everywhere"/>
  </configSections>
  <RegisterServices>
    <Services>
      <Service serviceType="master" count="1"/>
      <Service serviceType="slave" count="5"/>
    </Services>
  </RegisterServices>
  <RegisterAddresses>
    <Addresses>
      <Address port="8000" address="127.0.0.1"/>
      <Address port="8001" address="127.0.0.1"/>
      <Address port="8002" address="127.0.0.1"/>
      <Address port="8003" address="127.0.0.1"/>
      <Address port="8004" address="127.0.0.1"/>
    </Addresses>
  </RegisterAddresses>
  <RegisterFiles>
    <Files>
      <File fileName="state.xml"></File>
    </Files>
  </RegisterFiles>
  
</configuration>